---
import ProjectDetail from '../../components/ProjectDetail.astro';
---

<ProjectDetail
  title="眼の希少疾患の遺伝子治療"
  subtitle="Gene Therapy for Rare Eye Diseases"
  description="Platinum TALEN技術を活用した、眼科領域の革新的遺伝子治療の開発"
>
  <p>
    プロジェクトの詳細はWixサイトから移行時にコンテンツを差し替えてください。
  </p>
</ProjectDetail>
