---
import ProjectDetail from '../../components/ProjectDetail.astro';
---

<ProjectDetail
  title="卵アレルギーでも、食べられる卵を"
  subtitle="Egg for All"
  description="ゲノム編集により低アレルゲン卵の実現を目指す"
>
  <p>
    プロジェクトの詳細はWixサイトから移行時にコンテンツを差し替えてください。
  </p>
</ProjectDetail>
